@using Syncfusion.EJ2.Schedule
@using Syncfusion.EJ2.Buttons

@*@(Html.EJS().Schedule("schedule")
            .Height("550px")
            .Group(group => group.Resources(ViewBag.Resources))
            .Resources(res => {
                res
                .AllowMultiple(true)
                .DataSource(ViewBag.Cinema)
                .Field("CinemaId")
                .Title("Owner")
                .Name("Cinema")
                .TextField("cinema_name")
                .IdField("id")
                //.ColorField("CinemaColor")
                .Add();

                res
                .AllowMultiple(true)
                .DataSource(ViewBag.Salle)
                .Field("salle_id")
                .Title("Owner1")
                .Name("Salle")
                .TextField("commentaire")
                .IdField("id")
                //.ColorField("SalleColor")
                .GroupIDField("SalleGroupId")
                .Add();

            })
            .Views(view =>
            {
                view.Option(View.TimelineWeek).Add();
                view.Option(View.TimelineMonth).Add();
                view.Option(View.Agenda).Add();
            })
            .EventSettings(new ScheduleEventSettings { DataSource = ViewBag.appointments })
            .SelectedDate(new DateTime(2020, 2, 15))
            .Render()
    )*@

    <div>

        @Html.EJS().Schedule("schedule").Width("100%").Height("550px").SelectedDate(new DateTime(2018, 4, 22)).EventSettings(es => es.DataSource(dataManger =>
                                {
                                    dataManger.Url("/SchedulerEJS/LoadData").CrudUrl("/SchedulerEJS/UpdateData").CrossDomain(true).Adaptor("UrlAdaptor");
                                })).Render()
    </div>