@{
    ViewBag.Title = "Page";
}

    

<div class="row">
    <div class="col-md-4">
        <h2>Acceuil</h2>
        <br />
        @Html.ActionLink("Films", "Index", "films")
        <br />
        @Html.ActionLink("Cinemas", "Index", "cinemas")
        <br />
        @Html.ActionLink("seancesEJS", "Index", "seancesEJS")
    </div>

    @if (TempData.ContainsKey("Alert"))
    {
        <div class="alert alert-danger" role="alert">@TempData["Alert"]</div>
    }
</div>
