@{
    ViewBag.Title = "Page";
}

@*<div class="main-menu">
    <div>
        <h2 class="main-page-title">Welcome</h2>
    </div>
</div>*@

<div class="row">
    <div class="col-md-4">
        <h2>Acceuil</h2>
        <br />
        <div>
            @Html.ActionLink("Films", "Index", "films", null, new { @class = "btn btn-default" })
        </div>
        <br />
        <div>
            @Html.ActionLink("Cinemas", "Index", "cinemas", null, new { @class = "btn btn-default" })
        </div>
        <br />
        <div>
            @Html.ActionLink("Vue Graphique des Seances", "Index", "seancesEJS", null, new { @class = "btn btn-default" })
        </div>

        @if (TempData.ContainsKey("Alert"))
        {
            <div class="alert alert-danger" role="alert">@TempData["Alert"]</div>
        }
    </div>
</div>
