@model ModelCinema.Models.user_status

@{
    ViewBag.Title = "Delete User Status";
}

    <h2>User Status Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>user_status</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
