@model IEnumerable<ModelCinema.Models.seance>
@using Syncfusion.EJ2
@using Syncfusion.EJ2.Schedule

@{
    ViewBag.Title = "Index Seances";
}

<h2>Seances Index</h2>

<asp:Button runat="server" id="btnSave" Text=" « SAVE » " OnClick="btnSave" />

@(Html.EJS().Schedule("schedule")
        .Height("550px")
        .Group(group => group.Resources(ViewBag.Resources))
        .Resources(res => {
            res
            .AllowMultiple(true)
            .DataSource(ViewBag.Cinema)
            .Field("CinemaId")
            .Title("Owner")
            .Name("Cinema")
            .TextField("CinemaText")
            .IdField("Id")
            .ColorField("CinemaColor")
            .Add();

            res
            .AllowMultiple(true)
            .DataSource(ViewBag.Salle)
            .Field("SalleId")
            .Title("Owner1")
            .Name("Salle")
            .TextField("SalleText")
            .IdField("Id")
            .ColorField("SalleColor")
            .GroupIDField("SalleGroupId")
            .Add();

        })
        .Views(view =>
        {
            view.Option(View.TimelineWeek).Add();
            view.Option(View.TimelineMonth).Add();
            view.Option(View.Agenda).Add();
        })
        .EventSettings(new ScheduleEventSettings { DataSource = ViewBag.appointments })
        .SelectedDate(new DateTime(2020, 2, 15))
        .Render()
)
@*@section ControlsSection{
    <div class="control-section">
        <div class="content-wrapper">*@

@*@(Html.EJS().Schedule("schedule")
    .Width("100%")
    .Height("550px")
    .Group(group => group.Resources(ViewBag.Resources))
    .Resources(res => {
        res.AllowMultiple(false).DataSource(ViewBag.Cinema).Field("CinemaId").Title("Cinema").Name("Cinemas").TextField("CinemaText").IdField("Id").ColorField("CinemaColor").Add();
        res.AllowMultiple(true).DataSource(ViewBag.Salle).Field("SalleId").Title("Salle").Name("Salles").TextField("SalleText").IdField("Id").GroupIDField("SalleGroupId").ColorField("SalleColor").Add();
    })
    .Views(view => {
        view.Option(View.TimelineWeek).Add();
        view.Option(View.TimelineMonth).Add();
        view.Option(View.Agenda).Add();
    })
    //.EventSettings(e => e.Fields(f => f.Subject(sub => sub.Name("Subject").Title("Summary"))
    //.Description(des => des.Name("Description")
    //.Title("Comments"))).DataSource(ViewBag.datasource))
    //.SelectedDate(new DateTime(2020, 2, 14)).Render()

    .EventSettings(e => e.DataSource(ViewBag.datasource))
    .SelectedDate(new DateTime(2020, 2, 14))
    .Render()
    )*@

@*</div>
        </div>
        <style type="text/css">
            .e-schedule:not(.e-device) .e-agenda-view .e-content-wrap table td:first-child {
                width: 90px;
            }

            .e-schedule .e-agenda-view .e-resource-column {
                width: 100px;
            }
        </style>
    }*@

