body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body {
    background: url(../Image/bg.jpg) no-repeat center fixed;
    background-color: #000000;
}

table, dl{
    background-color: rgb(255, 255, 255, 0.8);
}


th {
    background-color: rgb(200, 200, 200, 0.6);
}

h2, h3, p{
    font-weight: bolder;
    color:black;
    font-style: italic;
}

.modal-backdrop {
    background-color: rgba(0,0,0,.5) !important;
}

.btn-general {
    height: 36px;
    width: 36px;
}
.btn-Edit {
    background: url('../Image/edit.png');
    background-repeat: no-repeat;
    background-size: 36px 36px;
}
.btn-Details {
    background: url('../Image/eye.png');
    background-repeat: no-repeat;
    background-size: 36px 36px;
}
.btn-Delete {
    background: url('../Image/delete.png');
    background-repeat: no-repeat;
    background-size: 36px 36px;
}

.col-Header {
    background-color: rgb(200, 200, 200, 0.6);
}