body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body {
    background: url(../Image/bg.jpg) no-repeat center fixed;
    background-color: #000000;
}

table, dl{
    background-color: rgb(255, 255, 255, 0.8);
}
.sub-table {
    background-color: rgb(0, 0, 0, 0.0);
}


th {
    background-color: rgb(200, 200, 200, 0.6);
}

h2, h3, p{
    font-weight: bolder;
    color:black;
    font-style: italic;
}

.modal-backdrop {
    background-color: rgba(0,0,0,.5) !important;
}

.btn-general {
    height: 36px;
    width: 36px;
}
.btn-Edit {
    background: url('../Image/edit.png');
    background-repeat: no-repeat;
    background-size: 36px 36px;
}
.btn-Details {
    background: url('../Image/eye.png');
    background-repeat: no-repeat;
    background-size: 36px 36px;
}
.btn-Delete {
    background: url('../Image/delete.png');
    background-repeat: no-repeat;
    background-size: 36px 36px;
}

.btn-Save {
    background: url('../Image/save.png');
    background-position: center;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: 24px 24px;
}

.btn-Repeat {
    background: url('../Image/repeat.png');
    background-position: center;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: 24px 24px;
}

.main-menu {
    background-color: rgb(255, 255, 255, 0.8);
    padding-left: 10px;
    padding-bottom: 10px;
}

.main-page-title{
    padding-top:10px;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

    #myBtn:hover {
        background-color: #555; /* Add a dark-grey background on hover */
    }