<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>

        <div class="modal" data-keyboard="false" data-backdrop="static" id="alert">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h3 class="modal-title">Alert</h3>
                    </div>
                    <div class="modal-body">
                        <form>
                            <p>@TempData["Alert"]</p>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>